[package]
name = "t3zktls-benchmark-r0"
version.workspace = true
edition.workspace = true

[dependencies]
t3zktls-core.workspace = true
t3zktls-input-builder.workspace = true

env_logger.workspace = true

t3zktls-guest-prover-r0 = { workspace = true }

tokio = { workspace = true }